<property name="REST_URL_POSTFIX" expression="fn:concat('/reviews/', get-property('uri.var.utilizador'), '/', get-property('uri.var.tipoDeVoto'), '/moreXvotes/', get-property('uri.var.numeroDeVotos'))" scope="axis2" />